@page "{companyId:int}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Koasta.Shared.Models
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@model CompanyModel

<section class="page--dash container-fluid">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h4"><span class="align-middle">@Model.Company.CompanyName</span></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            @if(Model.Role.CanAdministerCompany)
            {
                <a class="btn btn-sm btn-outline-secondary mr-2" asp-page="/EditCompany" asp-route-companyid="@Model.Company.CompanyId">
                    <partial name="_IconEdit" />
                    <span class="ml-1 align-middle">Edit</span>
                </a>
            }
            @if(Model.Role.CanAdministerSystem)
            {
                <div class="btn-group dropleft" role="group">
                    <button id="manageDrop" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </button>
                    <div class="dropdown-menu" aria-labelledby="manageDrop">
                        <a class="dropdown-item" asp-page="/CompanyVenues" asp-route-companyid="@Model.Company.CompanyId">Show Venues</a>
                        <form class="action-form" method="POST">
                            <input type="hidden" name="action" value="delete" /> 
                            <button type="submit" class="dropdown-item">
                                <partial name="_IconDelete" />
                                <span class="ml-1 align-middle">Delete</span>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="card w-100 mb-3">
            <div class="card-header">
                Contact details
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong class="col-3">Address</strong>
                    <div class="col-9">@(string.IsNullOrWhiteSpace(Model.Company.CompanyAddress) ? "-" : Model.Company.CompanyAddress)</div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">Person of contact</strong>
                    <div class="col-9">@(string.IsNullOrWhiteSpace(Model.Company.CompanyContact) ? "-" : Model.Company.CompanyContact)</div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">Phone number</strong>
                    <div class="col-9">@(string.IsNullOrWhiteSpace(Model.Company.CompanyPhone) ? "-" : Model.Company.CompanyPhone)</div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">E-mail address</strong>
                    <div class="col-9">@(string.IsNullOrWhiteSpace(Model.Company.CompanyEmail) ? "-" : Model.Company.CompanyEmail)</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="card w-100 mb-3">
            <div class="card-header">
                Support information
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>When speaking with our support team, you'll need to quote the following company reference so we know we're speaking to someone authorised to manage your company details.</p>
                    <p><strong class="h6">@(Model.Company.ReferenceCode ?? "-")</strong></p>
                </li>
            </ul>
        </div>
    </div>
</section>
