@page "{companyId:int}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Koasta.Shared.Models
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@model CompanyVenuesModel

<section class="page--dash container-fluid">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h4"><span class="align-middle">Venues</span> <span class="badge badge-secondary align-middle">@Model.Venues.Count</span></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <form method="GET" class="w-20 mr-2">
                <input class="form-control form-control-sm w-20 mt-auto mb-2 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0" name="query" type="text" placeholder="Search for a venue" value="@(Model.Query ?? string.Empty)">
            </form>
            <div class="btn-group mb-auto" role="group" aria-label="Pagination">
                @if(Model.PageNumber > 0)
                {
                    <a class="btn btn-sm btn-outline-secondary" asp-page="/CompanyVenues" asp-route-pagenumber="@(Model.PageNumber - 1)" asp-route-query="@Model.Query">Previous</a>
                }
                @if(Model.HasNextPage)
                {
                <a class="btn btn-sm btn-outline-secondary" asp-page="/CompanyVenues" asp-route-pagenumber="@(Model.PageNumber + 1)" asp-route-query="@Model.Query">Next</a>
                }
                @if(Model.Role.CanAdministerSystem)
                {
                    <a class="btn btn-sm btn-outline-secondary" asp-page="/CompanyAddVenue"><span>New Venue</span></a>
                }
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
        @foreach (var venue in Model.Venues)
        {
            <div class="card col w-100 w-sm-100 w-md-48 w-lg-48 w-xl-23 mb-4 mb-md-2 mb-lg-2 mb-xl-2 mr-auto mr-md-2 mr-lg-2 mr-xl-2">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="align-middle mr-2">@venue.VenueName</span>
                        @if(venue.VerificationStatus == 0)
                        {
                            <span class="badge badge-secondary align-middle">Pending verification</span>
                        }
                        else if (venue.VerificationStatus == 2)
                        {
                            <span class="badge badge-danger align-middle">Failed verification</span>
                        }
                    </h5>
                    <p class="card-text">@venue.VenueAddress</p>
                    <a class="btn btn-primary btn-sm stretched-link" asp-page="/Venue" asp-route-venueid="@venue.VenueId">View details</a>
                </div>
            </div>
        }
    </div>
</section>
