@page "{venueId:int}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Koasta.Shared.Models
@using Koasta.Shared.Types;
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@model EditVenueModel

<section class="page--dash container-fluid">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h4"><span class="align-middle">@Model.Title</span></h1>
    </div>

    <div class="row w-100">
        <form method="post" class="w-100">
            <div asp-validation-summary="ModelOnly"></div>
            <h2 class="h6 pt-3 pb-2 mb-3 border-bottom">Basic information</h2>
            <fieldset class="form-group">
                <label asp-for="Input.VenueName">Name</label>
                <input asp-for="Input.VenueName" class="form-control" />
                <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueName"></span>
            </fieldset>

            <div class="row">
                <fieldset class="form-group col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label asp-for="Input.VenueAddress">Address</label>
                    <input asp-for="Input.VenueAddress" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueAddress"></span>
                </fieldset>
                <fieldset class="form-group col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label asp-for="Input.VenueAddress2">Address line 2</label>
                    <input asp-for="Input.VenueAddress2" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueAddress2"></span>
                </fieldset>
                <fieldset class="form-group col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <label asp-for="Input.VenueAddress3">Address Line 3</label>
                    <input asp-for="Input.VenueAddress3" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueAddress3"></span>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.VenueCounty">County</label>
                    <input asp-for="Input.VenueCounty" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueCounty"></span>
                </fieldset>
                <fieldset class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.VenuePostCode">Postcode</label>
                    <input asp-for="Input.VenuePostCode" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenuePostCode"></span>
                </fieldset>
            </div>

            <div class="row">
                <fieldset class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.VenueContact">Admin name / department</label>
                    <input placeholder="John Smith" asp-for="Input.VenueContact" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueContact"></span>
                </fieldset>
                <fieldset class="form-group col-12 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.VenuePhone">Contact number</label>
                    <input asp-for="Input.VenuePhone" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenuePhone"></span>
                </fieldset>
            </div>

            <h2 class="h6 pt-3 pb-2 mb-3 border-bottom">App content</h2>
            <fieldset class="form-group">
                <label asp-for="Input.VenueDescription" data-toggle="tooltip" data-placement="right" title="The description you write for this venue appears in the Koasta app. Try to keep the description short, ideally no longer than a few sentences.">Description <partial name="_IconInfo" /></label>
                <textarea asp-for="Input.VenueDescription" class="form-control"></textarea>
                <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.VenueDescription"></span>
            </fieldset>
            <div class="row">
                <fieldset class="form-group col-12 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.Tags" data-toggle="tooltip" data-placement="right" title="Tags help us optimise venue search to provide more relevant results. Choose the ones most relevant to your venue here.">Tags <partial name="_IconInfo" /></label>
                    <input data-input-type="tags-input" placeholder="Tags" asp-for="Input.Tags" class="form-control" />
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.Tags"></span>
                </fieldset>
                <fieldset class="form-group col-12 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.ServingType" data-toggle="tooltip" data-placement="right" title="Choose the kind of service this venue offers. If you offer table service your customers can enter a table number when placing an order.">Type of service <partial name="_IconInfo" /></label>
                    <select class="form-control" asp-for="Input.ServingType">
                        @foreach(var type in ServingTypeHelper.AllValues())
                        {
                            <option value="@((int) type)">@type.FriendlyName()</option>
                        }
                    </select>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.ServingType"></span>
                </fieldset>
            </div>
            <fieldset class="form-group">
                <label asp-for="Input.ImageId" data-toggle="tooltip" data-placement="right" title="This is the image of your venue that's shown in the app. For best results, use a rectangular image to prevent cropping.">Feature Image <partial name="_IconInfo" /></label>
                <select class="form-control" asp-for="Input.ImageId" data-input-type="select-image-input">
                    <option value="@null" data-opttype="none">None</option>
                    @foreach(var type in Model.Images)
                    {
                        <option value="@type.ImageId" data-image-url="@type.ImageUrl">@type.ImageTitle</option>
                    }
                </select>
                <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.ImageId"></span>
            </fieldset>

            <h2 class="h6 pt-3 pb-2 mb-3 border-bottom">Opening times</h2>
            <div class="row">
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.SundayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.SundayOpeningTimeEnabled" class="form-check-label mb-2">
                            Sunday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.SundayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.SundayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.SundayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.SundayOpeningTimeEnd"></span>
                </div>

                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.MondayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.MondayOpeningTimeEnabled" class="form-check-label mb-2">
                            Monday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.MondayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.MondayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.MondayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.MondayOpeningTimeEnd"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.TuesdayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.TuesdayOpeningTimeEnabled" class="form-check-label mb-2">
                            Tuesday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.TuesdayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.TuesdayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.TuesdayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.TuesdayOpeningTimeEnd"></span>
                </div>

                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.WednesdayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.WednesdayOpeningTimeEnabled" class="form-check-label mb-2">
                            Wednesday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.WednesdayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.WednesdayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.WednesdayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.WednesdayOpeningTimeEnd"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.ThursdayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.ThursdayOpeningTimeEnabled" class="form-check-label mb-2">
                            Thursday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.ThursdayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.ThursdayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.ThursdayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.ThursdayOpeningTimeEnd"></span>
                </div>

                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.FridayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.FridayOpeningTimeEnabled" class="form-check-label mb-2">
                            Friday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.FridayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.FridayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.FridayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.FridayOpeningTimeEnd"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-check">
                        <input asp-for="Input.SaturdayOpeningTimeEnabled" type="checkbox" class="form-check-input" />
                        <label asp-for="Input.SaturdayOpeningTimeEnabled" class="form-check-label mb-2">
                            Saturday
                        </label>
                    </div>

                    <div class="row ml-0 mr-0">
                        <input class="form-control col-5" type="time" asp-for="Input.SaturdayOpeningTimeStart" />
                        <input class="form-control col-5 offset-1" type="time" asp-for="Input.SaturdayOpeningTimeEnd" />
                    </div>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.SaturdayOpeningTimeStart"></span>
                    <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.SaturdayOpeningTimeEnd"></span>
                </div>
            </div>

            <h2 class="h6 pt-3 pb-2 mb-3 border-bottom">Legal</h2>
            <fieldset class="form-group">
                <label asp-for="Input.DocumentIds" data-toggle="tooltip" data-placement="right" title="You can attach documents you've uploaded to your company Media section here. We use these documents to verify you own the venue before making it visible in the Koasta app.">Supporting documentation <partial name="_IconInfo" /></label>
                <select class="form-control" asp-for="Input.DocumentIds" data-input-type="select-input" multiple>
                    @foreach(var type in Model.Documents)
                    {
                        <option value="@type.DocumentId">@type.DocumentTitle</option>
                    }
                </select>
                <span class="alert alert-danger mt-2" role="alert" asp-validation-for="Input.ImageId"></span>
            </fieldset>

            @if(Model.Role.CanAdministerSystem)
            {
                <h2 class="h6 pt-3 pb-2 mb-3 border-bottom">Onboarding</h2>
                <select class="form-control" asp-for="Input.VenueProgress">
                    <option value="0" selected="@(Model.Venue.Progress == 0)">1 - Gathering votes</option>
                    <option value="1" selected="@(Model.Venue.Progress == 1)">2 - Evaluating venue</option>
                    <option value="2" selected="@(Model.Venue.Progress == 2)">3 - Reaching out to venue</option>
                </select>
            }
            <button type="submit" class="submit-button btn btn-primary mt-4 mb-4">Save changes</button>
        </form>
    </div>
</section>
