@page "{productId:int}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Koasta.Shared.Models
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@model ProductModel

<section class="page--dash container-fluid">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h4"><span class="align-middle">@Model.Product.ProductName</span></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            @if(Model.Role.CanAdministerVenue)
            {
                <a class="btn btn-sm btn-outline-secondary mr-2" asp-page="/EditProduct" asp-route-productid="@Model.Product.ProductId">
                    <partial name="_IconEdit" />
                    <span class="ml-1 align-middle">Edit</span>
                </a>
                <div class="btn-group dropleft" role="group">
                    <button id="manageDrop" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </button>
                    <div class="dropdown-menu" aria-labelledby="manageDrop">
                        <form class="action-form" method="POST">
                            <input type="hidden" name="action" value="delete" /> 
                            <button type="submit" class="dropdown-item">
                                <partial name="_IconDelete" />
                                <span class="ml-1 align-middle">Delete</span>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="card w-100 mb-3">
            <div class="card-header">
                Details
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong class="col-3">Name</strong>
                    <div class="col-9">
                        @(string.IsNullOrWhiteSpace(Model.Product.ProductName) ? "-" : Model.Product.ProductName)
                    </div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">Type</strong>
                    <div class="col-9">
                        @(string.IsNullOrWhiteSpace(Model.ProductType) ? "-" : Model.ProductType)
                    </div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">Description</strong>
                    <div class="col-9">
                        @(string.IsNullOrWhiteSpace(Model.Product.ProductDescription) ? "-" : Model.Product.ProductDescription)
                    </div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">Price</strong>
                    <div class="col-9">
                        @String.Format(new System.Globalization.CultureInfo("en-GB"), "{0:C}", Model.Product.Price)
                    </div>
                </li>
                <li class="list-group-item">
                    <strong class="col-3">Age restriction</strong>
                    <div class="col-9">
                        @(Model.Product.AgeRestricted ? "18+" : "No restriction")
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
